In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.appName("test_app").getOrCreate()

In [3]:
spark_context = spark.sparkContext

In [4]:
spark_context

In [6]:
df = spark.read.option("multiline","true").json("/Users/vishal/Desktop/Data Training/Notebook/example.json")

In [7]:
df.printSchema()

root
 |-- emp_name: string (nullable = true)
 |-- emp_title: string (nullable = true)

In [9]:
df = df.withColumn("emp_location", F.lit("chennai"))

In [10]:
df.printSchema()

root
 |-- emp_name: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_location: string (nullable = false)

In [11]:
df.show()

+--------+--------------------+------------+
|emp_name|           emp_title|emp_location|
+--------+--------------------+------------+
|  vishal|senior data engineer|     chennai|
+--------+--------------------+------------+

In [12]:
df.show()

+--------+--------------------+------------+
|emp_name|           emp_title|emp_location|
+--------+--------------------+------------+
|  vishal|senior data engineer|     chennai|
+--------+--------------------+------------+

In [13]:
df_cache = df.cache()

In [14]:
df_cache.show()

+--------+--------------------+------------+
|emp_name|           emp_title|emp_location|
+--------+--------------------+------------+
|  vishal|senior data engineer|     chennai|
+--------+--------------------+------------+

In [15]:
df_cache.show()

+--------+--------------------+------------+
|emp_name|           emp_title|emp_location|
+--------+--------------------+------------+
|  vishal|senior data engineer|     chennai|
+--------+--------------------+------------+

In [16]:
spark.catalog.clearCache()

In [17]:
df.createOrReplaceTempView("test")

In [18]:
sql_df = spark.sql("select * from test")

In [19]:
sql_df.show()

+--------+--------------------+------------+
|emp_name|           emp_title|emp_location|
+--------+--------------------+------------+
|  vishal|senior data engineer|     chennai|
+--------+--------------------+------------+

In [20]:
spark.catalog.clearCache()

In [21]:
sql_df.show()

+--------+--------------------+------------+
|emp_name|           emp_title|emp_location|
+--------+--------------------+------------+
|  vishal|senior data engineer|     chennai|
+--------+--------------------+------------+