In [8]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_columns',10)
# pd.set_option('display.max_rows',20)

## Series

In [9]:
pd_series = pd.Series([1,2,3,4])
pd_series_idx = pd.Series(data=[1,2,3,4],index=['banana','apple','mango','lemon'])

In [15]:
idx_pd_series_idx = pd_series_idx.index
val_pd_series_idx = pd_series_idx.values
idx_pd_series_idx

Index(['banana', 'apple', 'mango', 'lemon'], dtype='object')

In [16]:
pd_series_idx['banana']=20

In [19]:
pd_series_idx.drop('apple',inplace=True)

In [48]:
na_vals = ["NA","Missing"]
df = pd.read_csv('covid.csv',na_values=na_vals) #index_col='col_name'
df
df.head(10)
df.tail(10)
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4692 entries, 0 to 4691
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       4692 non-null   object
 1   Name of State / UT         4692 non-null   object
 2   Latitude                   4692 non-null   float64
 3   Longitude                  4692 non-null   float64
 4   Total Confirmed cases      4692 non-null   float64
 5   Death                      4692 non-null   object
 6   Cured/Discharged/Migrated  4692 non-null   float64
 7   New cases                  4692 non-null   int64
 8   New deaths                 4692 non-null   int64
 9   New recovered              4692 non-null   int64
dtypes: float64(4), int64(3), object(3)
memory usage: 366.7+ KB

In [28]:
people = {
    "first":["Teja","Soma", np.nan,"Cool",np.nan],
    "last":["Reddy","Shekar","Hello","Chill","dude"],
    "email":["yuvatejareddy@gmail.com","soms@gmail.com",np.nan,np.nan,"chill@chill.com"],
    "age":['10','21','45',None,None]
}
people_df = pd.DataFrame(people)

C:\Users\HP\AppData\Local\Temp\ipykernel_14368\2373774971.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  people_df.append(pd.DataFrame(people))

  first    last                    email   age
0  Teja   Reddy  yuvatejareddy@gmail.com    10
1  Soma  Shekar           soms@gmail.com    21
2   NaN   Hello                      NaN    45
3  Cool   Chill                      NaN  None
4   NaN    dude          chill@chill.com  None
0  Teja   Reddy  yuvatejareddy@gmail.com    10
1  Soma  Shekar           soms@gmail.com    21
2   NaN   Hello                      NaN    45
3  Cool   Chill                      NaN  None
4   NaN    dude          chill@chill.com  None

## Selecting Rows and Columns

In [ ]:
people_df['email'] #==people_df.email

In [ ]:
people_df[['first','last']]

In [ ]:
df.columns

In [ ]:
df.iloc[10]

In [ ]:
df.iloc[[0,10,20]]

In [20]:
df.iloc[[0,20],[1,2,3,4]]

   Name of State / UT  Latitude  Longitude  Total Confirmed cases
0              Kerala   10.8505    76.2711                    1.0
20             Kerala   10.8505    76.2711                    3.0

In [ ]:
df.loc[0]
df.loc[[0,10,21],["Latitude","Longitude"]]

In [ ]:
df["Name of State / UT"].value_counts()

In [ ]:
df.loc[0:5,"Name of State / UT":"Total Confirmed cases"]

In [ ]:
df.iloc[0:5,1:5]

In [ ]:
# Indexing
people_df.set_index("email",inplace=True)

In [ ]:
people_df.index

In [ ]:
people_df.loc["yuvatejareddy@gmail.com",["first","last"]]

In [ ]:
people_df.reset_index(inplace=True)
# people_df.reset_index()

In [ ]:
df.sort_index()
df.sort_index(ascending=False)
df.sort_index(inplace=True)

## Filtering

In [ ]:
filt = (people_df["first"]=="Teja") # can write complex filters using &, |, ~
people_df[filt]

In [ ]:
people_df.loc[filt,"last"]

In [ ]:
people_df.loc[filt,["last","email"]]

In [ ]:
states = ["Kerala", "Maharastra","Andhra Pradesh"]
s_filter = df["Name of State / UT"].isin(states)
st_filter = df["Name of State / UT"].str.contains("Pradesh",na=False)

In [ ]:
df[st_filter]
df.loc[st_filter,"Name of State / UT"]

## updating

In [ ]:
people_df.columns
people_df

In [ ]:
people_df.columns = ["First_name","Last_name","Email"]

In [ ]:
people_df

In [ ]:
people_df.columns = [x.lower() for x in people_df.columns]

In [ ]:
people_df.columns = people_df.columns.str.replace('_', " ")
people_df

In [ ]:
people_df.columns = people_df.columns.str.replace(' ', "_")
people_df

In [ ]:
people_df.rename(columns={'first_name':"first","last_name":"last"},inplace=True)
people_df

In [ ]:
people_df.loc[1] = ["soma","shekar","Soma@gmail.com"]

In [ ]:
people_df.loc[1,['first','last']] = ["Soma","Shekar"]

In [ ]:
people_df.loc[1,"email"] = "Somashekar@gmail.com"

In [ ]:
people_df.at[0,"email"] = "Yuvatejareddy003@gmail.com"

In [ ]:
s_email_filt = (people_df["last"]=="Shekar")
people_df.loc[s_email_filt,"email"] = "Somashekar003@gmail.com"
people_df['email'] = people_df['email'].str.lower()

In [ ]:
people_df["email"].apply(len)

In [ ]:
def upper_email(email):
    return email.upper()
people_df["email"] = people_df["email"].apply(upper_email)
people_df

In [ ]:
people_df["email"] = people_df["email"].apply(lambda x: x.lower())
people_df

In [ ]:
people_df.apply(len)

In [ ]:
people_df.apply(len,axis='columns')

In [ ]:
people_df.apply(pd.Series.min)
people_df.apply(lambda x: x.min())
people_df.apply(pd.Series.max)
people_df.apply(lambda x: x.max())

In [ ]:
people_df.applymap(len)

In [ ]:
people_df.applymap(str.upper)

In [ ]:
people_df['first'].map({'Teja':'Yuvateja'})

In [21]:
people_df['first'] = people_df['first'].replace({'Teja':'Yuvateja'})

In [ ]:
# apply - both
# applymap - dataframe
# map - series

## Add Rows & Columns

In [ ]:
people_df['full_name'] = people_df['first']+" "+people_df["last"]

In [ ]:
people_df

In [ ]:
# removed_fl = people_df.drop(columns=['first','last'])
people_df.drop(columns=['first','last'],inplace=True)

In [ ]:
people_df[['first','last']] = people_df['full_name'].str.split(' ',expand=True)

In [ ]:
people_df

In [ ]:
people_df = pd.concat([people_df,pd.DataFrame({'email':['dummy@dummy.com'],'first':['cool'],"last":["cool"],"full_name":["cool cool"]})],ignore_index=True) # axis='columns' form joining series
people_df

In [ ]:
people_df2 = pd.concat([people_df,people_df],ignore_index=True,sort=False)
people_df2

In [ ]:
people_df.drop(index=3,inplace=True)

In [ ]:
people_df.drop(index=people_df[people_df['last']=="cool"].index,inplace=True)

In [ ]:
people_df

## Sorting

In [ ]:
df.sort_values(by="Name of State / UT",ascending=False)
# can use inplace with sort_values

In [ ]:
df.sort_values(by=["Name of State / UT","Death"])

In [ ]:
df.sort_values(by=["Name of State / UT","Death"],ascending=[True,False],inplace=True)

In [ ]:
df.sort_index()

In [ ]:
df["Name of State / UT"].sort_values()
df["Name of State / UT"].sort_values().unique()

In [ ]:
df['Death'].nlargest(10)

In [ ]:
df.nlargest(10,"Death")
df.nsmallest(10,"Death")

In [ ]:
# REPLACE, APPLY, fillna, dropna

# CASTING && Handling Missing Values

In [33]:
people_df.isna() #people_df.isnull()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2   True  False   True  False
3  False  False   True   True
4   True  False  False   True

In [34]:
people_df.isnull().sum()

first    2
last     0
email    2
age      2
dtype: int64

In [35]:
people_df.isnull().sum().sum()

6

In [36]:
people_df.isnull().mean()

first    0.4
last     0.0
email    0.4
age      0.4
dtype: float64

In [44]:
people_df.dropna()
people_df.dropna(axis='index',how='any')
people_df.dropna(axis='columns',how='any')
# axis = index | columns, how = any | all
# axis 0 |1
people_df

  first    last                    email   age
0  Teja   Reddy  yuvatejareddy@gmail.com    10
1  Soma  Shekar           soms@gmail.com    21
2   NaN   Hello                      NaN    45
3  Cool   Chill                      NaN  None
4   NaN    dude          chill@chill.com  None

In [47]:
people_df.dropna(axis='index',how='all',subset=['email'])
people_df.dropna(axis='index',how='all',subset=['last','email'])

  first    last                    email   age
0  Teja   Reddy  yuvatejareddy@gmail.com    10
1  Soma  Shekar           soms@gmail.com    21
2   NaN   Hello                      NaN    45
3  Cool   Chill                      NaN  None
4   NaN    dude          chill@chill.com  None

In [ ]:
people_df.replace('NA',np.nan,inplace=True)
people_df.replace('Missing',np.nan,inplace=True)
df.replace('0#','0',inplace=True)
people_df

In [40]:
people_df.fillna("MISSING")
people_df.fillna(0) #inplace=True

  first    last                    email age
0  Teja   Reddy  yuvatejareddy@gmail.com  10
1  Soma  Shekar           soms@gmail.com  21
2     0   Hello                        0  45
3  Cool   Chill                        0   0
4     0    dude          chill@chill.com   0

In [43]:
# We replace NaN values with the previous value in the column
people_df.fillna(method = 'ffill', axis = 0)
# We replace NaN values with the previous value in the row
people_df.fillna(method = 'ffill', axis = 1)
# We replace NaN values with the next value in the column
people_df.fillna(method = 'backfill', axis = 0)
# We replace NaN values with the next value in the row
people_df.fillna(method = 'backfill', axis = 1)
#people_df.interpolate(method="linear",axis=0)

   first    last                    email   age
0   Teja   Reddy  yuvatejareddy@gmail.com    10
1   Soma  Shekar           soms@gmail.com    21
2  Hello   Hello                       45    45
3   Cool   Chill                     None  None
4   dude    dude          chill@chill.com  None

In [ ]:
people_df.dtypes
people_df["age"] = people_df['age'].astype('float64')
df["Death"] = df["Death"].astype(int)

## Grouping && Aggregation

In [ ]:
print(df.dtypes)

In [52]:
df.describe()
df["Death"].describe()
#max(), .min(), .mean()
# df.corr()

count     4692
unique     839
top          0
freq      1460
Name: Death, dtype: object

In [50]:
df["Name of State / UT"].value_counts() #normalize=True

Kerala                                      186
Delhi                                       154
Rajasthan                                   152
Uttar Pradesh                               152
Haryana                                     152
Tamil Nadu                                  149
Punjab                                      147
Karnataka                                   147
Maharashtra                                 147
Andhra Pradesh                              144
Uttarakhand                                 141
Odisha                                      140
Puducherry                                  138
Chhattisgarh                                137
Gujarat                                     136
Ladakh                                      135
Jammu and Kashmir                           135
Himachal Pradesh                            135
Madhya Pradesh                              135
Chandigarh                                  135
Bihar                                       134
Manipur                                     132
Mizoram                                     131
Goa                                         130
Andaman and Nicobar Islands                 130
West Bengal                                 128
Jharkhand                                   124
Assam                                       124
Arunachal Pradesh                           122
Tripura                                     118
Meghalaya                                   111
Telengana                                   102
Dadra and Nagar Haveli and Daman and Diu     89
Sikkim                                       71
Nagaland                                     69
Telangana                                    51
Union Territory of Ladakh                    14
Union Territory of Jammu and Kashmir         12
Union Territory of Chandigarh                 2
Telangana***                                  1
Name: Name of State / UT, dtype: int64

In [ ]:
#Groupby = split + apply function + combine results
state_grp = df.groupby(["Name of State / UT"])

In [ ]:
state_grp.get_group('Sikkim')["Death"].value_counts()

In [ ]:
state_grp['Death'].value_counts().head(30)

In [ ]:
state_grp['Death'].value_counts().loc["Sikkim"]

In [ ]:
state_grp['Death'].mean()
state_grp['Death'].median().loc['Telangana']

In [ ]:
state_grp['Death'].agg(['mean','median'])

In [ ]:
state_grp['Death'].agg(['mean','median']).loc["Goa"]

In [ ]:
df.loc[df["Name of State / UT"]=="Andhra Pradesh"]["Death"].sum()

In [ ]:
state_death = state_grp['Death'].apply(sum)
state_new_cases = state_grp['Total Confirmed cases'].apply(sum)
state_df = pd.concat([state_death,state_new_cases],sort=False,axis='columns')
state_df["death_percent"] = state_df["Death"]/state_df["Total Confirmed cases"] * 100
state_df.sort_values(by="death_percent",ascending=False)

## Dates and Time series

In [3]:
eth_df = pd.read_csv('eth.csv')

In [9]:
eth_df["Date"] = pd.to_datetime(eth_df["Date"],format="%Y-%m-%d %I-%p")
eth_df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [10]:
eth_df.loc[0,"Date"].day_name()

'Friday'

In [13]:
from datetime import datetime
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

## Writing to files

In [ ]:
df[(df["Name of State / UT"]=="Andhra Pradesh")].to_csv("andhra_pradesh.csv",index=False)

In [ ]:
df[(df["Name of State / UT"]=="Andhra Pradesh")].to_csv("andhra_pradesh.tsv",sep="\t")

In [ ]:
# xlwt openpyxlm xlrd
df[(df["Name of State / UT"]=="Andhra Pradesh")].to_excel("andhra_pradesh.xlsx")

In [ ]:
df[(df["Name of State / UT"]=="Andhra Pradesh")].to_json("andhra_pradesh.json",orient='records',lines=True)

In [ ]:
#SQLAlchemy psycopg2-binary
df.to_sql('table_name',conn,if_exist='replace')
pd.read_sql('table_name',conn,index_col="1st row, 1st col value")
pd.read_sql_query('slq query',conn,index_col="1st row, 1st col value")

In [ ]:
help(df.any)

In [ ]:
# dropna, isnac, transform, drop_duplicates
# pd.to_numeric()
# series.astype('type')

In [25]:
df.query("Death > 100")

TypeError: '>' not supported between instances of 'str' and 'int'

In [24]:
state_s = [100,200,0]
df.query('Death==@state_s')

Empty DataFrame
Columns: [Date, Name of State / UT, Latitude, Longitude, Total Confirmed cases, Death, Cured/Discharged/Migrated, New cases, New deaths, New recovered]
Index: []

In [22]:
# pd.cut(series,bins=bins,labels=labels)

In [26]:
## delete columns
# df.pop('column name')
# df.drop(['column name'],axis=1)

In [ ]:
# delete row
# df.drop(['row index'],axis=0)