In [77]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [47]:
spark = SparkSession.builder.appName("covid").getOrCreate()

In [65]:
df = spark.read.csv('covid.csv',header=True,inferSchema=True)
df.columns

['Date',
 'Name of State / UT',
 'Latitude',
 'Longitude',
 'Total Confirmed cases',
 'Death',
 'Cured/Discharged/Migrated',
 'New cases',
 'New deaths',
 'New recovered']

In [49]:
df = df.withColumn("Total Confirmed cases", col("Total Confirmed cases").cast("int"))
df = df.withColumn("Death", col("Death").cast("int"))
df = df.withColumn("Cured/Discharged/Migrated", col("Cured/Discharged/Migrated").cast("int"))

In [69]:
df = df.withColumn("Name of State / UT", lower("Name of State / UT"))
df.select(df['Name of State / UT']).distinct().show(n=40,truncate=False)

+----------------------------------------+
|Name of State / UT                      |
+----------------------------------------+
|delhi                                   |
|maharashtra                             |
|meghalaya                               |
|odisha                                  |
|haryana                                 |
|west bengal                             |
|goa                                     |
|punjab                                  |
|jammu and kashmir                       |
|dadra and nagar haveli and daman and diu|
|karnataka                               |
|andhra pradesh                          |
|telangana                               |
|nagaland                                |
|bihar                                   |
|madhya pradesh                          |
|jharkhand                               |
|assam                                   |
|kerala                                  |
|tamil nadu                              |
|himachal pradesh                        |
|union territory of ladakh               |
|chandigarh                              |
|ladakh                                  |
|chhattisgarh                            |
|union territory of jammu and kashmir    |
|rajasthan                               |
|telengana                               |
|uttar pradesh                           |
|telangana***                            |
|tripura                                 |
|gujarat                                 |
|sikkim                                  |
|union territory of chandigarh           |
|mizoram                                 |
|manipur                                 |
|arunachal pradesh                       |
|puducherry                              |
|andaman and nicobar islands             |
|uttarakhand                             |
+----------------------------------------+

In [70]:
grouped_df = df.groupBy('Date').agg(max('Total Confirmed cases').alias('max_cases'))
max_cases_row = grouped_df.orderBy(col('max_cases').desc()).first()
date_with_max_cases = max_cases_row['Date']
max_cases = max_cases_row['max_cases']
max_cases_row

Row(Date='2020-08-06', max_cases=468265.0)

In [71]:
state_cases_df = df.groupBy('Name of State / UT').agg(sum('Total Confirmed cases').alias('total_cases')).orderBy(col('total_cases').desc())

second_largest_state = state_cases_df.limit(2).orderBy(col('total_cases').asc()).collect()[1]
second_largest_state

Row(Name of State / UT='maharashtra', total_cases=15192247.0)

In [72]:
df = df.na.fill(0, subset=["Death"])
ut_deaths_df = df.filter(df['Name of State / UT'].contains('union territory'))
ut_deaths_df.orderBy(col('Death')).first()

Row(Date='2020-03-07', Name of State / UT='union territory of ladakh', Latitude=34.2996, Longitude=78.2932, Total Confirmed cases=2.0, Death='0', Cured/Discharged/Migrated=0.0, New cases=0, New deaths=0, New recovered=0, Newly Recovered Cases=0.0, Month=3)

In [75]:
df = df.withColumn("Death to Cases Ratio", col("Death") / col("Total Confirmed cases"))

confirmed_above_zero_df = df.filter(col("Total Confirmed cases") > 0)

min_ratio_row = confirmed_above_zero_df.orderBy(col("Death to Cases Ratio")).first()
min_ratio_row

Row(Date='2020-05-24', Name of State / UT='puducherry', Latitude=11.9416, Longitude=79.8083, Total Confirmed cases=26.0, Death='0#', Cured/Discharged/Migrated=10.0, New cases=0, New deaths=0, New recovered=0, Newly Recovered Cases=-487.0, Month=5, Death to Cases Ratio=None)

In [76]:
windowSpec = Window.orderBy("Date")
df = df.withColumn("Newly Recovered Cases", coalesce(col("Cured/Discharged/Migrated") - lag(col("Cured/Discharged/Migrated"), 1).over(windowSpec), col("Cured/Discharged/Migrated")))

df = df.withColumn("Month", month(col("Date")))

month_cases_df = df.groupBy("Month").agg(sum("Newly Recovered Cases").alias("total_newly_recovered_cases"))

max_cases_row = month_cases_df.orderBy(col("total_newly_recovered_cases").desc()).first()
month_with_max_cases = spark.sql("SELECT date_format(to_date(concat_ws('-', '2022', '" + str(max_cases_row["Month"]) + "', '01')), 'MMMM') as month").first()["month"]
month_with_max_cases

'July'